* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.barra {
  position: fixe; }

@media (max-width: 575px) {
  .img-carousel {
    height: 350px; } }

.fondoHeader {
  color: white; }

.logo {
  width: 8vw; }

.mynav a:hover {
  border-radius: 20%;
  border-bottom: 2px solid #4879db; }

.carrito {
  color: white; }

.nav-link {
  color: #4879db; }

.txt-carousel-blanco {
  color: white; }
