@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.mynav .logo {
  width: 15vh; }

.mynav a:hover {
  border-radius: 20%;
  border-bottom: 2px solid #5471a8;
  display: inline-block;
  color: #5471a8 !important; }

.navbar-dark .navbar-nav .nav-link {
  color: #5471a8;
  font-weight: 700;
  font-size: 12px; }

.navbar-dark .navbar-nav .active {
  color: #5471a8 !important; }

.tamaño-em {
  font-size: 7px; }

.navbar-toggler {
  font-size: 1rem;
  background: #5471a8; }

.container-btn-wp {
  background-color: #2e6329;
  border: 1px solid #fff;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  bottom: 45px;
  right: 25px;
  padding: 15px;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite; }

.container-btn-wp:hover {
  transform: scale(1.1);
  transition: 0.3s; }

.icon-wp {
  width: 40px;
  transition: ease 1s; }

@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85); }
  100% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0); } }

@media (min-width: 768px) {
  .mynav .logo {
    width: 14vw;
    position: relative;
    left: 10px;
    top: -5px; }
  .container-btn-wp {
    bottom: 40px;
    right: 40px; } }

.txt-carousel-1 {
  font-size: 1.6em;
  color: #fff;
  font-style: oblique;
  position: relative;
  left: -46px;
  top: 15px;
  background: #05af68;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #5471a8; }

.txt-carousel-2 {
  font-size: 1.6em;
  color: #fff;
  font-style: oblique;
  position: relative;
  left: -46px;
  top: 15px;
  background: #0571af;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #5471a8; }

.txt-carousel-3 {
  font-size: 1.6em;
  color: #fff;
  font-style: oblique;
  position: relative;
  left: -46px;
  top: 15px;
  background: #e7a50c;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #5471a8; }

.txt-carousel-4 {
  font-size: 1.6em;
  color: #161662;
  font-style: oblique;
  position: relative;
  left: -46px;
  top: 15px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #5471a8; }

.img-carousel {
  height: 35vh; }

@media (min-width: 375px) {
  .txt-carousel-1 {
    font-size: 1.8em; }
  .txt-carousel-2 {
    font-size: 1.8em; }
  .txt-carousel-3 {
    font-size: 1.8em; }
  .txt-carousel-4 {
    font-size: 1.8em; } }

@media (min-width: 768px) {
  .img-carousel {
    height: 50vh; }
  .txt-carousel-1 {
    font-size: 2.8em;
    width: 60vw; }
  .txt-carousel-2 {
    font-size: 2.8em;
    width: 60vw; }
  .txt-carousel-3 {
    font-size: 2.8em;
    width: 60vw; }
  .txt-carousel-4 {
    font-size: 2.8em;
    width: 60vw; } }
