.txt-carousel{
    font-size: 1.5em;
    color: #fff;
    font-style: oblique;
    position: relative;
    left: -50px;
    top: 15px;
    
}

.img-carousel{
    height: 35vh;
}


//MEDIA QUERIES
@media (min-width: 375px) {


  
}

@media (min-width: 425px) {
  


}
@media (min-width: 576px) {
  
  
}
@media (min-width: 768px) {
    .img-carousel{
        height: 50vh;
    }
  
}
