//Aplicando mixin al carousel

@mixin txt-carousel ($color, $fondo){
    font-size: 1.6em;
    color: $color;
    font-style: oblique;
    position: relative;
    left: -46px;
    top: 15px;
    background: $fondo;
    border-radius: 10px;
    box-shadow: 3px 3px 3px $txt-ccg;

}

.txt-carousel-1{
    @include txt-carousel(#fff,rgb(5, 175, 104))
}

.txt-carousel-2{
    @include txt-carousel(#fff,rgb(5, 113, 175))
}

.txt-carousel-3{
    @include txt-carousel(#fff,rgb(231, 165, 12))
}

.txt-carousel-4{
    @include txt-carousel(rgb(22, 22, 98),#fff)
}
      
.img-carousel{
    height: 35vh;
}


//MEDIA QUERIES
@media (min-width: 375px) {
    .txt-carousel-1{
        font-size: 1.8em;
    }
    .txt-carousel-2{
        font-size: 1.8em;
    }
    .txt-carousel-3{
        font-size: 1.8em;
    }
    .txt-carousel-4{
        font-size: 1.8em;
    }
  
}

@media (min-width: 425px) {
  


}
@media (min-width: 576px) {
  
  
}
@media (min-width: 768px) {
    .img-carousel{
        height: 50vh;
    }

    .txt-carousel-1{
        font-size: 2.8em;
        width: 60vw;
    }
    .txt-carousel-2{
        font-size: 2.8em;
        width: 60vw;
    }
    .txt-carousel-3{
        font-size: 2.8em;
        width: 60vw;
    }
    .txt-carousel-4{
        font-size: 2.8em;
        width: 60vw;
    }
  
}

@media (min-width: 1024px) {
    .img-carousel{
        height: 60vh;
    }

    .txt-carousel-1{
        font-size: 3em;
        width: 60vw;
    }
    .txt-carousel-2{
        font-size: 3em;
        width: 60vw;
    }
    .txt-carousel-3{
        font-size: 3em;
        width: 60vw;
    }
    .txt-carousel-4{
        font-size: 3em;
        width: 60vw;
    }
  
}

@media (min-width: 1440px) {
    .img-carousel{
        height: 70vh;
    }

    .txt-carousel-1{
        font-size: 4em;
        width: 60vw;
    }
    .txt-carousel-2{
        font-size: 4em;
        width: 60vw;
    }
    .txt-carousel-3{
        font-size: 4em;
        width: 60vw;
    }
    .txt-carousel-4{
        font-size: 4em;
        width: 60vw;
    }
  
}