.mynav {
  .logo {
    width: 15vh;
  }
  
}

.mynav{
  background: $ccg;
  border-bottom: white solid 1px;
  
}

.mynav a:hover {
  border-radius: 20%;
  border-bottom: 2px solid $txt-ccg;
  display: inline-block;
  color: $txt-ccg !important;
}

.navbar-dark {
  .navbar-nav {
    .nav-link {
      color: $txt-ccg;
      font-weight: 700;
      font-size: 12px;
    }
    .active {
      color: $txt-ccg !important;
    }
  }
  // .navbar-toggler-icon{
  //   background-image: data:image/svg+xml,%3csvg xmlns='http://www.w3.org…dth='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e;
  // }
}

.aaa{
  color: red;
  background: #2e6329;
}

.tamaño-em {
  font-size: 7px;
}

.navbar-toggler {
  font-size: 1rem;
  
}

//Icon Whatsapp

.container-btn-wp {
  background-color: #2e6329;
  border: 1px solid #fff;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  bottom: 30px;
  right: 30px;
  padding: 10px;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite;
}

.container-btn-wp:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.icon-wp {
  width: 40px;
  transition: ease 1s;
}

@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}
//------------------------------

//MEDIA QUERIES
@media (min-width: 375px) {
}

@media (min-width: 425px) {
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
  .mynav {
    .logo {
      width: 14vw;
      position: relative;
      left: 10px;
      top: -5px;
    }
  }

  .container-btn-wp {
    bottom: 20px;
    right: 50px;
  }
}

.icon-wp {
  width: 50px;  
}

@media (min-width: 1024px) {
  .mynav {
    .logo {
      width: 15vw;
      position: relative;
      left: 5px;
      top: 1px;
    }
  }

  .navbar-dark {
    .navbar-nav {
      .nav-link {
        font-size: 14px;
        margin-left: 10px;
        position: relative;
        left: 20px;
      }
    }
  }

  .container-btn-wp {
    bottom: 23px;
    right: 25px;
  }
}

@media (min-width: 1440px) {
  .mynav {
    .logo {
      width: 16vw;
      position: relative;
      left: 5px;
      top: 1px;
    }
  }

  .navbar-dark {
    .navbar-nav {
      .nav-link {
        font-size: 20px;
        margin-left: 14px;
        position: relative;
        left: 40px;
      }
    }
  }

  .container-btn-wp {
    bottom: 23px;
    right: 25px;
  }

  .icon-wp {
    width: 60px;  
  }
}
