.fondoHeader{
     color: $blanco; 

}


.logo{
    width: 8vw;
}

.mynav a:hover{    
    border-radius: 20%;    
    border-bottom: 2px solid $txt-ccg;
}

.carrito{
    color: white;
}

.nav-link{    
    color: $txt-ccg;
   
}

